{% extends "layout.html" %}
{% block body %}
  <h1>Create Activity</h1>
  {% if session.logged_in %}
    <h2>Add a new attraction</h2>
    <form action="{{ url_for('add_activity', attr_id=attr_id, conf_num=conf_num) }}" method=post class="pure-form pure-form-aligned">
      <div class="pure-control-group">
        <label>Start Time:</label>
        <input type=datetime-local value="2016-07-29T12:00:00" size=30 name=start>
      </div>
      <div class="pure-control-group">
        <label>End Time:</label>
        <input type=datetime-local value="2016-07-29T14:00:00" min=start size=30 name=end>
      </div>
      <div class="pure-control-group">
        <label>Number in Party:</label>
        <input type=number name=num value=1>
      </div>
      <div class="pure-control-group">
        <input type=submit value=Submit>
      </div>
    </form>
  {% endif %}
{% endblock %}