{% extends "layout.html" %}
{% block body %}
  {% if not session.logged_in %}
    <h2>Login</h2>
    {% if error %}<p>{{ error }}</p>{% endif %}
    <form action="{{ url_for('login') }}" method=post class="pure-form pure-form-aligned">
      <fieldset>
        <div class="pure-control-group">
          <label>Username:</label>
          <input type=text name=username>
        </div>
        <div class="pure-control-group">
          <label>Password:</label>
          <input type=password name=password>
        </div>
        <div class="pure-control-group">
          <input type=submit value=Login>
        </div>
      </fieldset>
    </form>
  {% endif %}
  <form action="/users" method="get"><input type="submit" value="Create a new user"></form>
{% endblock %}