{% extends "layout.html" %}
{% block body %}
  <h1>Trips</h1>
  {% if session.logged_in %}
    <h2>Add a new trip</h2>
    <form action="{{ url_for('add_trip') }}" method=post class="pure-form pure-form-aligned">
      <fieldset>
        <div class="pure-control-group">
          <label>Name:</label>
          <input type=text size=30 name=name placeholder="Name">
        </div>
        <div class="pure-control-group">
          <label>Start Date:</label>
          <input type=date name=startdate value="2016-07-28">
        </div>
        <div class="pure-control-group">
          <label>End Date:</label>
          <input type=date name=enddate value="2016-07-30">
        </div>
        <div class="pure-control-group">
          <label>City:</label>
          <select name=city>
            <option value="paris">Paris</option>
            <option value="metz">Metz</option>
            <option value="rome">Rome</option>
          </select>
        </div>
        <div class="pure-control-group">
          <input type=submit value=Submit>
        </div>
      </fieldset>
    </form>
  {% endif %}
  <table style="width:80%; " class="pure-table pure-table-bordered">
    <thead><tr><th/><th/><th/><th>Name</th><th>City</th><th>Start Date</th><th>End Date</th><th>Total Cost</th><th>Booked</th></tr></thead>
    <tbody>
  {% for entry in entries %}
    <tr>
      <td style="width:80px"><form action="/remove-trip/{{ entry[0] }}" method="post"><input type="submit" value="Remove"></form></td>
      <td style="width:50px"><form action="/view-trip/{{ entry[0] }}" method="get"><input type="submit" value="View"></form></td>
      <td style="width:50px"><form action="/book-trip/{{ entry[0] }}" method="get"><input type="submit" value="Book"></form></td>
      <td>{{ entry[1] }}</td><td>{{ entry[2] }}</td><td>{{ entry[3] }}</td><td>{{ entry[4] }}</td><td>{{ entry[5] }}</td><td>{{ entry[6] }}</td>
    </tr>
  {% else %}
    <tr><em>No trips found</em></tr>
  {% endfor %}
    </tbody>
  </table>
{% endblock %}